
    {% extends "base.html" %}
    {% block tittle %}Juegos{% endblock %}

    {% block titulo %} ELIMINAR UNA PELICULAS {% endblock %}

     {% block contenido %}
        <p></p>

        <form action="" method="POST"> {% csrf_token %}
            <table>
                    {{form.as_table}}
            </table>
            <p></p>
              <input type="reset" class="btn btn-warning" value="Cancelar" name="Cancelar"/>
              <input type="submit"  class="btn btn-danger" value="Eliminar" name="Eliminar Pelicula"/>

        </form>
    {% endblock %}