{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block tittle %} {% endblock %}
        </title>
    <link href="{% static '/base.css' %}" rel="stylesheet"
          th:href="@{% static '/base.css' %}">
    <!-- Boxiocns CDN Link -->
    <link rel="shortcut icon" href="#">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="{% static '/sweetalert2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/sweetalert2.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxs-game bx-tada' style='color:#ecec44'  ></i>
      <span class="logo_name">VLIGS</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="../Principal/" >
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Pantalla Principal</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="../Principal/">Principal</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
            <a >
            <i class='bx bxs-camera-movie bx-fade-right' ></i>
            <span class="link_name">Peliculas</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="../CatalogoPeliculas/">Películas</a></li>
            <li><a href="../CatalogoPeliculas/">Catalogo de Peliculas</a></li>
          <li><a href="../CrearPelicula/">Agregar película</a></li>
          <li><a href="../EliminarPelicula/">Eliminar película</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a>
            <i class='bx bxs-ghost bx-fade-down' style='color:#8c8585' ></i>
            <span class="link_name">Juegos</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="CatalogoJuegos/">Juegos</a></li>
            <li><a href="../CatalogoJuegos/">Catalogo de Juegos</a></li>
          <li><a href="../CrearJuego/">Nuevo juego</a></li>
          <li><a href="../EliminarJuego/">Eliminar juego</a></li>
        </ul>
      </li>
            <li>
        <div class="iocn-link">
          <a >
            <i class='bx bxs-movie bx-fade-up' ></i>
            <span class="link_name">Estrenos</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >Estrenos</a></li>
          <li><a href="../RegistrarEstreno/">Registrar Estreno</a></li>
          <li><a href="../CatalogoEstrenos/">Catalogo Estrenos</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-dollar bx-flip-horizontal bx-tada' style='color:rgba(173,80,80,0.91)'  ></i>
            <span class="link_name">Ventas</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Ventas</a></li>
          <li><a href="../VentaJuegos/">Venta de Juegos</a></li>
            <li><a href="../RegistrarVJuegos/">Registrar venta de juego</a></li>
          <li><a href="../VentaPeliculas/">Venta de Peliculas</a></li>
            <li><a href="../RegistrarVPeliculas/">Registrar venta de pelicula </a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a >
            <i class='bx bx-user bx-tada' style='color:rgba(226,223,69,0.91)' ></i>
            <span class="link_name">Usuarios</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >Usuarios</a></li>
          <li><a href="../CrearUsuario/">Nuevo Usuario</a></li>
          <li><a href="../EliminarUsuario/">Eliminar Usuario</a></li>
        </ul>
      </li>

      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">ABRIR MENU</span>
    </div>
    <div class="sales-boxes">
       <div class="recent-sales box">
       <div class="title"> {% block titulo %} {% endblock%}</div>
        <div class="sales-details" align="center">
          {% block contenido %}    {% endblock %}
        </div>
      </div>
    </div>
  <script src="{% static '/codigo.js' %}"></script>

  </section>
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>

</body>
</html>