<!DOCTYPE html>
<html lang="en">
<head link rel="stylesheet" href="/menu.css">

    <meta charset="UTF-8">
    <title>CATALOGO DE JUEGOS </title>
<link rel="stylesheet" href="menu.css">

</head>
<body bgcolor="#a8e0f2">
<center><H3> CATALOGO DE JUEGOS DISPONIBLES</H3></center>

	<nav class="navegacion">
			<ul class="menu">
				<li><a href="#">Inicio</a></li>
				<li><a href="CatalogoPeliculas.html">Peliculas</a></li>


				</li>
				<li><a href="#">blabla</a></li>
			</ul>
		</nav>






</body>
</html>
