
    {% extends "base.html" %}
    {% block tittle %}USUARIOS{% endblock %}

    {% block titulo %} CREACION DE USUARIOS {% endblock %}
      #HERENCIA DE BOTONES
    {% block contenido %}
         <form  action="" method="POST"> {% csrf_token %}

             <table>
                    {{form2.as_table}}
            </table>
             <p></p>
             <input type="reset" class="btn btn-danger" value="Cancelar" name="Cancelar"/>
              <input type="submit" formmethod="post" formaction="#" class="btn btn-success" value="Registrar usuario" name="RegistrarUsuario"/>
          </form>

    {% endblock %}
