
    {% extends "base.html" %}
    {% block tittle %}Peliculas{% endblock %}

    {% block titulo %} REGISTRAR PELICULAS {% endblock %}

    {% block contenido %}
        <form action="" method="POST"> {% csrf_token %}
            <table>
                    {{form2.as_table}}
            </table>
            <p></p>
            <input type="reset" class="btn btn-secondary" value="Cancelar" name="Cancelar"/>
              <input type="submit" onclick="confirmacion()" formmethod="post"  class="btn btn-success" value="Registrar Película" name="CrearPelicula" />
          </form>
    {% endblock %}