
    {% extends "base.html" %}
    {% block tittle %}Juegos{% endblock %}

    {% block titulo %} REGISTRAR JUEGOS {% endblock %}

    #HERENCIA DE BOTONES
       {% block contenido %}
        <form action="" method="POST"> {% csrf_token %}
            <table>
                    {{form2.as_table}}
            </table>
            <p></p>
             <p>Favor de colocar en CATEGORIA y CLASIFICACION, el numero correspondiente. </p>
            <table border="5" align="center" >
                <tr align="center">
                    <th align="center"> Numero</th>
                    <th align="center"> Categoria</th>
                    <th align="center"> Clasificacion</th>
                </tr>
                <tr align="center">
                    <td> 1. </td>
                    <td> Accion </td>
                    <td> A </td>
                </tr>
                <tr align="center">
                    <td> 2. </td>
                    <td> Aventura </td>
                    <td> B </td>
                </tr>
                <tr align="center">
                    <td> 3. </td>
                    <td> Terror </td>
                    <td> B15 </td>
                </tr>
                <tr align="center">
                    <td> 4. </td>
                    <td> Disparos </td>
                    <td> C </td>
                </tr>
                <tr align="center">
                    <td> 5. </td>
                    <td> Estrategias </td>
                    <td> D </td>
                </tr>
                 <tr align="center">
                    <td> 6. </td>
                    <td> Deportes </td>
                    <td>  </td>
                </tr>
            </table>
            <input type="reset" class="btn btn-secondary" value="Cancelar" name="Cancelar"/>
              <input type="submit" formmethod="post" formaction="" class="btn btn-success" value="Registrar Juego" name="CrearJuego" />
          </form>
    {% endblock %}


