
    {% extends "base.html" %}
    {% block tittle %}Juegos{% endblock %}

    {% block titulo %} REGISTRAR JUEGOS {% endblock %}

    #HERENCIA DE BOTONES
       {% block contenido %}
        <form action="" method="POST"> {% csrf_token %}
            <table>
                    {{form2.as_table}}
            </table>
            <p></p>
            <input type="reset" class="btn btn-secondary" value="Cancelar" name="Cancelar"/>
              <input type="submit" formmethod="post" onclick="confijuego()" class="btn btn-success" value="Registrar Juego" name="CrearJuego" />
          </form>
    {% endblock %}


